<!doctype html>
<html>
  <head>
    <title>Dashboard</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <h2>⏳ Digital Time Capsule</h2>

      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/create-capsule">Create Capsule</a>
      </div>
    </nav>

    <div class="container">
      <h1 class="page-title">My Time Capsules</h1>

      {% for capsule in capsules %}

      <div class="card-capsule">
        <h2>{{ capsule[0] }}</h2>

        <p>{{ capsule[1] }}</p>

        <p>
          <strong>Unlock Date:</strong>
          {{ capsule[2] }}
        </p>

        <p class="status">🔒 Locked Capsule</p>
      </div>

      {% endfor %}
    </div>
  </body>
</html>
