<!doctype html>
<html>
  <head>
    <title>Digital Time Capsule</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <h2>⏳ Digital Time Capsule</h2>

      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/dashboard">Dashboard</a>
      </div>
    </nav>

    <section class="hero">
      <h1>Preserve Memories For Your Future Self</h1>

      <p>
        Create digital time capsules, store memories and unlock them in the
        future.
      </p>

      <a href="/create-capsule" class="btn"> Create Capsule </a>
    </section>

    <section class="features">
      <div class="card">
        <h3>🔒 Secure Storage</h3>
        <p>Keep memories safe until the unlock date.</p>
      </div>

      <div class="card">
        <h3>📅 Future Unlock</h3>
        <p>Choose a future date to reveal your capsule.</p>
      </div>

      <div class="card">
        <h3>🎯 Goal Tracking</h3>
        <p>Record goals and revisit them later.</p>
      </div>
    </section>
  </body>
</html>
